@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bold: #f13223;
  --text:#E6DDD4;
  --highlight:#fca29c;
  --background:#1b1b1b;
  --header:#FA6559;
}

@layer base{
  h1 {
    @apply text-6xl;
    color : var(--bold)
  }
}


body {
  background-color: var(--background);
  color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0px;
}

#items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  @apply flex justify-center text-center;
}

#page-header{
  @apply text-6xl pb-10;
  color : var(--bold)
}

#header {
  @apply text-4xl pb-6;
  color : var(--header)
}

#subheader {
  @apply text-2xl;
  color : var(--highlight);
}

#content {
  color : var(--text);
  @apply pb-10
}

#bold {
  @apply font-bold;
}

#page {
  height: fit-content;
  @apply my-[10vh] flex flex-col justify-center align-middle;
}

.FlexContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 55%;
  height: fit-content;
  overflow: auto;
  flex-direction: row;
}

#progBar{
  @apply !flex !justify-start items-center rounded-2xl;
}

.FlexContainer div {
  width: 100px;
  height: 50px;
  margin: 5px;
  background-color: transparent;
  @apply flex justify-center items-center;
  flex-grow: 1;
}

#skill-row{
  @apply mb-3 rounded-2xl;
  background-color: rgba(250, 101, 89, .15);
}

#skills-table{
  @apply pt-5 w-fit;

}

.row-header {
  @apply text-2xl border;
  border-color: var(--bold);
  background-color: #1b1b1b !important;
}

#footer {
  height : 5vh;
  background-color: rgba(250, 101, 89, .15);
  width: 100%;
  @apply m-1 rounded-md flex justify-center items-center space-x-5; 
}

#footer > div {
  @apply border px-5 rounded-md;
  background-color: var(--background);
  border-color: var(--bold);
}

#footer > div > .underline{
  text-decoration-color: var(--bold);
}